

<div class='main-content'>

<table>
	<tr>
		<th>Item Name</th>
		<th>Category</th>
		<th>Quantity</th>
		<th>Unit</th>
		<th>Cost Per Unit</th>
		<th>Actions</th>
	</tr>
  
  <% @inventories.each do |inventory| %>
		<tr>
			<td><%= inventory.item_name %></td>
			<td><%= inventory.category %></td>
			<td><%= inventory.quantity_available %></td>
			<td><%= inventory.unit %></td>
			<td><%= inventory.cost_per_unit %></td>
			<td><%= link_to 'Edit', edit_inventory_path(inventory.id) %><%= link_to 'Delete', inventory, method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
  <% end %>

</table>
</div>